<h1 class="display-1 text-white text-center font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">Recruitingsite</h1>
<h2 class="text-center" style="color: #ccc">オリジナルアプリ(Recruitingsite)の作成</h2>