<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">admin</h2>
    <ul class="channel_list">
      <%= sidebar_link_item('ホーム', mypage_path) %>
      <%= sidebar_link_item('自分の投稿', articles_path) %> 
      <%= sidebar_link_item('他の人にコメント', otherarticle_path) %>
    </ul>
  </div>
</div>